@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Revalia&display=swap");

$Colors: (
  1: (#a91409,#ff584d),
  2: (#663ab3,#b979ff),
  3: (#0a6ab6,#4aaeff),
  4: (#3d8c40,#49ff4f),
  5: (#cc7a00,#ffb444),
  6: (#d500f9,#f99de9),
);

td {
    font-family: "Audiowide", cursive;
    border-collapse: collapse;
    width: 45px;
    height: 39px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    //color: transparent;
    font-weight: 900;
    font-size: 21px;
    padding-bottom: 3.5px;
    padding-top: 3.5px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

@each $N, $Prop in $Colors {
    td[num="#{$N}"] {
        background-color: #{nth($Prop, 1)};

      &.active {
          border: 3px solid #{nth($Prop, 2)};
      }
    }
}
